[Desktop Entry]
Encoding=UTF-8
Name=Mirror Magic
Comment=Deflector clone
Comment[pl]=Klon Deflektora
Icon=mirrormagic.png
Exec=mirrormagic
Terminal=false
Type=Application
